@import '../../../../styles/base.scss';

$animationTransition: all 0.1s;
.fieldset {
    position: relative;
    width: 300px;

    .label {
        position: absolute;
        left: 5px;
        font-size: $fsMd;
        transition: $animationTransition;
        transform: translateY(-50%);
        top: 50%;
        z-index: 2;

        &:focus {
            background: red;
        }
    }

    .hover {
        top: 25%;
        font-size: $fsSm;
    }

    .base {
        background: $secondary;
        width: 100%;
        border-radius: 10px 10px 0 0;
        padding: 25px 5px 10px 5px;
        font-size: $fsMd;
        position: relative;
        border-bottom: 2px solid $primaryLight;
        transition: $animationTransition;

        &:focus {
            border-bottom-color: $primary;
        }
    }
}
