@import '../../../styles/base.scss';

.base {
    display: flex;
    flex-direction: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    margin: 2px;

    &:active {
        outline: 2px solid;
    }
}

.sm {
    font-size: $fsSm;
    $horizontalPadding: 20px;
    padding: 8px $horizontalPadding;
    border-radius: $horizontalPadding;
}

.md {
    font-size: $fsMd;
    $horizontalPadding: 37px;
    padding: 15px $horizontalPadding;
    border-radius: $horizontalPadding;
}

.lg {
    font-size: $fsLg;
    $horizontalPadding: 45px;
    padding: 18px $horizontalPadding;
    border-radius: $horizontalPadding;
}

.primary {
    background: $primary;
    color: $secondary;

    &:hover {
        background: $primaryLight;
    }

    &:active {
        outline-color: $primary;
    }
}

.secondary {
    background: $secondary;
    color: $primary;
}

.text {
    background: none;
    color: $primary;
}
